:root {
	--primary-color: #11133c;
	--secondary-color: #79fe9d;
	--white: #fcf8f3;
	--border-width: 2px;
	--spacing1: 12px;
	--spacing2: 24px;
	--spacing3: 44px;
	--toggle-switch-width: 36px;
}

body {
	font-family: "Oswald", sans-serif;
}

h1 {
	text-align: center;
}

button {
	border: none;
	cursor: pointer;
}

* {
	box-sizing: border-box;
}

form {
	margin: auto;
	width: 25rem;
	max-width: 100%;
}

label {
	font-weight: 500;
}

input,
button {
	font-family: inherit;
	width: 100%;
	border-radius: var(--border-width);
}

input {
	display: block;
	padding: var(--spacing1);
	margin-bottom: var(--spacing2);
	border-color: var(--primary-color);
}

button {
	background-color: var(--primary-color);
	color: var(--white);
	padding: var(--spacing1);
	font-size: 1.2rem;
}

hr {
	border-top: var(--border-width) solid var(--primary-color);
	margin: var(--spacing2) 0;
}

table {
	margin: auto;
	width: 40rem;
	max-width: 100%;
	border-collapse: collapse;
	border: solid var(--border-width) var(--primary-color);
}

table caption {
	font-size: 1.5rem;
	font-weight: bold;
	text-align: left;
	margin-bottom: var(--spacing2);
}

tr {
	cursor: pointer;
}

th {
	text-align: left;
}

th,
td {
	padding: var(--spacing1);
}

.toggle-switch {
	position: relative;
	display: inline-block;
	width: 60px;
	height: var(--toggle-switch-width);
}

/* Hide default HTML checkbox */
.toggle-switch input {
	opacity: 0;
	width: 0;
	height: 0;
}

/* The slider */
.toggle-switch > span {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #ccc;
	-webkit-transition: 0.4s;
	transition: 0.4s;
	border-radius: var(--toggle-switch-width);
}

.toggle-switch > span:before {
	position: absolute;
	content: "";
	height: var(--spacing2);
	width: var(--spacing2);
	left: 4px;
	bottom: 4px;
	background-color: var(--white);
	-webkit-transition: 0.4s;
	transition: 0.4s;
	border: solid var(--border-width) transparent;
	border-radius: 50%;
}

.toggle-switch input:checked + span {
	background-color: var(--secondary-color);
}

.toggle-switch input:focus + span {
	box-shadow: 0 0 1px var(--secondary-color);
}

.toggle-switch input:checked + span:before {
	-webkit-transform: translateX(var(--spacing2));
	-ms-transform: translateX(var(--spacing2));
	transform: translateX(var(--spacing2));
}

.toggle-switch:focus-within span:before {
	border-color: var(--primary-color);
}

a {
	color: var(--primary-color);
}
